.modeladoLogo{
	padding: 30px, 600px;
	background: #F38010;
	width: 130px;
	height: 130px;	
}

img{
	width: 10%;
	height: auto;
}

.parrafo1{
	margin: 10px, 50px;
	padding: 10px, 50px;
	background: green;
	border-width: 15px;
	border-style: ridge;
	border-color: yellow;
	text-align: justify;
}

.tresElementos{
	margin: 30px, 250px;
	padding: 50px;
	justify-content: center;
	background: blue;
	border-style: groove;
	border-color;
	border-width: ;
}